@font-face {
	font-family: 'MavenPro';
	src: url('../fonts/Maven_Pro/MavenPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'MavenPro';
	src: url('../fonts/Maven_Pro/MavenPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MavenPro';
	src: url('../fonts/Maven_Pro/MavenPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MavenPro';
	src: url('../fonts/Maven_Pro/MavenPro-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

