@media(min-width: 992px){
    nav.fixed-top:not(.show-menu) .bg-wrap{
        opacity: 0 !important;
    }
}
nav.sticky-top.fixed-top:not(.show-menu) .bg-wrap, nav.fixed-top.sticky-top:not(.show-menu) .bg-wrap{
   opacity: 1 !important;
}#header-text-img-3 .bg-wrap {
    background: linear-gradient(to bottom, #0073c6, #4527a0);
}

#header-text-img-3 .bg {
	background-image: url('../images/887/bgbannerslimbank.png');
    opacity: 0.2;
}

#text-1col-center-2 .bg-wrap {
	background: #f8f9fa;
}
#benefits-2col-8 .bg-wrap {
	background: #f8f9fa;
}#action-text-btn-img .bg-wrap {
    background: linear-gradient(to bottom, #0073c6, #4527a0);
}

#action-text-btn-img .bg {
	opacity: 0.2;
	background-repeat: No-repeat;
	background-size: cover;
	background-position: center center;
	background-image: url('../images/887/bgslimbank1.png');
}
#blog-4col-2 .bg-wrap {
	background: #f8f9fa;
}
/*
*/

#testimonial-single-carousel .bg-wrap {
	background: #000000;}#testimonial-single-carousel .bg {
	background-image: url('../images/887/imgslimbank01.png');
    background-repeat: No-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;
}#clients-5col .bg-wrap{
}
#footer-text-subscribe .bg-wrap {
	background: #323946;
}